@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

$breakpoints: (
  "xs": 0,
  "sm-phone": 360px,
  "m-phone": 550px,
  "lg-phone": 768px,
  "tablet": 990px,
);

@mixin xs {
  @media (max-width: map-get($breakpoints, "xs")) {
    @content;
  }
}

@mixin sm-phone {
  @media (max-width: map-get($breakpoints, "sm-phone")) and (min-width: map-get($breakpoints, "xs")) {
    @content;
  }
}

@mixin m-phone {
  @media (max-width: map-get($breakpoints, "m-phone")) and (min-width: map-get($breakpoints, "sm-phone")) {
    @content;
  }
}

@mixin lg-phone {
  @media (max-width: map-get($breakpoints, "lg-phone")) and (min-width: map-get($breakpoints, "m-phone")) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: map-get($breakpoints, "tablet")) and (min-width: map-get($breakpoints, "lg-phone")) {
    @content;
  }
}
