.main-page {
  background-color: rgb(15 23 42);
  height: 100%;
  min-height: 100vh;
  width: 100%;
  min-width: 100vw;
  display: flex;
  // padding: 0 100px;

  @include tablet {
    flex-direction: column;
  }

  @include lg-phone {
    flex-direction: column;
  }

  @include m-phone {
    flex-direction: column;
  }

  @include sm-phone {
    flex-direction: column;
  }

  .main-left {
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    justify-content: space-between;

    @include tablet {
      width: 100%;
      align-items: start;
      padding: 100px 100px;
      justify-content: start;
      gap: 20px;
      height: auto;
    }

    @include lg-phone {
      width: 100%;
      align-items: start;
      padding: 100px 100px;
      justify-content: start;
      gap: 20px;
      height: auto;
    }

    @include m-phone {
      width: 100%;
      align-items: start;
      padding: 100px 40px;
      justify-content: start;
      gap: 20px;
      height: auto;
    }

    @include sm-phone {
      width: 100%;
      align-items: start;
      padding: 100px 40px;
      justify-content: start;
      gap: 20px;
      height: auto;
    }

    .left-top-section {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 100px;

      .left-header {
        h1 {
          color: $primary-color;
          font-size: 60px;
          text-wrap: nowrap;

          @include m-phone {
            font-size: 40px;
          }

          @include sm-phone {
            font-size: 40px;
          }
        }

        h3 {
          color: $primary-color;
          font-size: 28px;
          text-wrap: nowrap;
        }
      }

      .menu-list-wrapper {
        display: flex;
        flex-direction: column;
        color: $primary-color;
        font-weight: 600;
        gap: 20px;

        @include tablet {
          display: none;
        }

        @include lg-phone {
          display: none;
        }

        @include m-phone {
          display: none;
        }

        @include sm-phone {
          display: none;
        }

        .menu-wrapper {
          display: flex;
          gap: 10px;
          cursor: pointer;

          &:hover,
          &.clicked {
            .horizontal {
              width: 60px;
              background-color: $primary-color;
            }

            .menu-label {
              color: $primary-color;
            }
          }

          .horizontal {
            width: 30px;
            height: 2px;
            background-color: $primary-color-dark;
            margin: auto 0;
          }

          .menu-label {
            color: $primary-color-dark;
          }
        }
      }
    }

    .personal-links {
      display: flex;
      width: 50%;
      gap: 10px;

      .icons-wrapper {
        .icons {
          color: $primary-color-dark;
          cursor: pointer;

          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }

  .main-right {
    height: 100vh;
    width: 60%;
    padding: 100px 50px;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 80px;

    @include tablet {
      width: 100%;
      // min-width: 100vw;
      overflow: visible;
      padding: 0 100px 100px;
      height: auto;
    }

    @include lg-phone {
      width: 100%;
      // min-width: 100vw;
      overflow: visible;
      padding: 0 100px 100px;
      height: auto;
    }

    @include m-phone {
      width: 100%;
      // min-width: 100vw;
      overflow: visible;
      padding: 0 40px 100px;
      height: auto;
    }

    @include sm-phone {
      width: 100%;
      // min-width: 100vw;
      overflow: visible;
      padding: 0 40px 100px;
      height: auto;
    }

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $secondary-color-dark;
      border-radius: 5px;
      height: 10%;
      cursor: pointer;

      &:hover {
        background-color: $secondary-color;
      }
    }

    .mobile-exp-container {
      display: none;

      @include tablet {
        display: flex;
      }

      @include lg-phone {
        display: flex;
      }

      @include m-phone {
        display: flex;
      }

      @include sm-phone {
        display: flex;
      }
    }

    .mobile-projects-container {
      display: none;

      @include tablet {
        display: flex;
      }

      @include lg-phone {
        display: flex;
      }

      @include m-phone {
        display: flex;
      }

      @include sm-phone {
        display: flex;
      }
    }
  }
}
